:root {
    --back-color: #1c2029;
    --island-color: #3e4655; /* 3e4a61 */
    --contrast-color: #5ead79; 
    --lighter-contrast: #dfeae2;
    --outline-color: #c24d2c;
    --compliment-color: #77c0e4;
  }

  body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    background-color: var(--back-color);
  }
  
  h1 {
    color: var(--contrast-color);
  }
  
  table, th, td {
    border: 2px solid;
    border-radius: 3px;
    padding: 3px;
    border-color: #dfeae2;
  }
  
  th {
    background-color: var(--contrast-color);
    color: white
  }
  
  input[type=submit].btn-1 {
    width: 110px;
    height: 40px;
    border: none;
    color: white;
    background-color: var(--contrast-color);
    border-radius: 4px;
    box-shadow: inset 0 0 0 0 var(--contrast-color);
    transition: ease-out 0.5s;
    font-size: 1.7rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    outline: none;
  }
  
  input[type=submit].btn-1:hover {
    box-shadow: inset 300px 0 0 0 var(--compliment-color);
    cursor: pointer;
    color: #000;
  }

  .button {
    background-color: #5ead79;
    color: white;
    border-radius: 5px;
    justify-content: space-around;
    align-items: center;
    scale: 1.5;
    margin: 15px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }

  .btn-1 {
    width: 110px;
    height: 40px;
    border: none;
    color: white;
    background-color: var(--contrast-color);
    border-radius: 4px;
    box-shadow: inset 0 0 0 0 var(--contrast-color);
    transition: ease-out 0.5s;
    font-size: 1.4rem;
    font-family: Georgia, 'Arial Narrow Bold', sans-serif;
    outline: none;
  }
  
  .btn-1:hover {
    box-shadow: inset 300px 0 0 0 var(--compliment-color);
    cursor: pointer;
    color: #000;
  }

  .btn-2 {
    width: auto;
    height: 40px;
    border: none;
    color: white;
    background-color: var(--contrast-color);
    border-radius: 4px;
    box-shadow: inset 0 0 0 0 var(--contrast-color);
    transition: ease-out 0.5s;
    font-size: 1.4rem;
    font-family: Georgia, 'Arial Narrow Bold', sans-serif;
    outline: none;
  }
  
  .btn-2:hover {
    box-shadow: inset 300px 0 0 0 var(--compliment-color);
    cursor: pointer;
    color: #000;
  }

  .box {
    position: absolute;
    left: 50%;
    transform: translateY(20%);
    transform: translateX(-50%);
    width: 300px;
    height: auto;
    border-radius: 5px;
    background-color: var(--island-color);
    color: white;
    padding: 20px;
    border: 2px solid var(--contrast-color);
  }

.autobox {
  position: absolute;
  left: 50%;
  transform: translateY(20%);
  transform: translateX(-50%);
  width: auto;
  height: auto;
  border-radius: 5px;
  background-color: var(--island-color);
  color: white;
  padding: 20px;
  border: 2px solid var(--contrast-color);
}

  .box2 {
    position: absolute;
    top: 13%;
    left: 0; /* start from the left edge of the screen */
    width: 100%; /* take up the full width of the screen */
    height: auto;
    border-radius: 5px;
    background-color: var(--island-color);
    color: white;
    padding: 15px;
    border: 2px solid var(--contrast-color);
}

  .box-products {
    width: 20%; 
    margin: 10px auto; 
    border-radius: 5px;

    justify-content: center;
    background-color: var(--island-color);
    color: white;
    padding: 5px;
    border: 2px solid var(--contrast-color);
}

.box-products2 {
  width: 40%; 
  margin: 50px auto;
  border-radius: 6px;

  justify-content: center;
  background-color: var(--island-color);
  color: white;
  padding: 20px;
  border: 2px solid var(--contrast-color);
}

.box-products3 {
  width: 25%; 
  margin: auto;
  border-radius: 6px;

  justify-content: center;
  background-color: var(--island-color);
  color: white;
  padding: 5px;
  border: 2px solid var(--contrast-color);
}

.box-products4 {
  width: 40%; 
  margin: 50px auto;
  border-radius: 6px;

  justify-content: center;
  background-color: var(--island-color);
  color: white;
  padding: 20px;
  border: 2px solid var(--contrast-color);
}

.container {
  text-align: center;
  transform: translateY(50%);
}

/* Logo */
#head-img {
  justify-content: center;
  width: 130px;
  height: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('/static/pics/SpiderByteLogo.png');
}

/* heart checkboxes */

.heart-checkbox {
  cursor: pointer;
  display: inline-block;
  position: relative;
}

.heart-checkbox i {
  font-size: 1.5em; 
  transition: color 0.3s;
}

.heart-checkbox .fas.fa-heart {
  display: none; /* Initially hide the solid heart */
  color: var(--compliment-color); /* Default color of the outlined heart */
}

.heart-checkbox .far.fa-heart {
  color: var(--contrast-color); /* Color of the solid heart when displayed */
}

.heart-checkbox input:checked + .far.fa-heart {
  display: none; /* Hide outlined heart when checked */
}

.heart-checkbox input:checked + .far.fa-heart + .fas.fa-heart {
  display: inline-block; /* Show solid heart when checked */
}

/* Titles */

.course-title {
  text-align: center; 
  font-size: 1.6em;     
  font-weight: bold;  
}

.challenge-title {
  text-align: center;       
  font-size: 1.6em;           
  font-weight: bold;  
      
}

.profile-title {
  text-align: center;  
  font-size: 1.6em;      
  font-weight: bold;  
}

.completed-title {
  text-align: center;
  font-size: 1.6em; 
  font-weight: bold;  
}

.user-points {
  text-align: center;
  font-size: 1em; 
  font-weight: bold;   
}

.editor-container {
  padding-top: 150px;
}

.challengeid-title {
  position: absolute;
  transform:translateY(-155%);
  right: 40%;
  font-size: 1.6em;     
  font-weight: bold; 
  color: #5ead79; 
}

textarea {
  height: 150px;  /* Or whatever height you desire */
}

/* CSS */
.button-54 {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #5ead79;
  color: #dfeae2;
  margin: 2px;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-54:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

@media (min-width: 768px) {
  .button-54 {
    padding: 0.25em 0.75em;
  }
}

/* CSS */
.button-49,
.button-49:after {
  width: 120px;
  height: 56px;
  line-height: 58px;
  font-size: 15px;
  font-family: 'Bebas Neue', sans-serif;
  background: linear-gradient(45deg, transparent 5%, #5ead79 5%);
  border: 0;
  color: #fff;
  letter-spacing: 3px;
  box-shadow: 6px 0px 0px #dfeae2;
  outline: transparent;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-49:after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);
  
  content: 'ALTERNATE TEXT';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, transparent 3%, white 3%, white 5%, #5ead79 5%);
  text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px white;
  clip-path: var(--slice-0);
}

.button-49:hover:after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }
  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }
  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}

@media (min-width: 768px) {
  .button-49,
  .button-49:after {
    width: 120px;
    height: 56px;
    line-height: 55px;
  }
}

/* CSS */
.button-33 {
  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-33:hover {
  box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}

/* CSS */
.button-85 {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-85:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}

/* CSS */
.button-29 {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5ead79 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.button-29:focus {
  box-shadow: #5ead79 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #5ead79 0 -3px 0 inset;
}

.button-29:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #5ead79 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-29:active {
  box-shadow: #5ead79 0 3px 7px inset;
  transform: translateY(2px);
}

/* CSS */
.button-62 {
  background: linear-gradient(to bottom right, #5ead79, #88c9e9);
  border: 0;
  border-radius: 12px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.button-62:not([disabled]):focus {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(96, 239, 71, 0.5), .125rem .125rem 1rem rgba(90, 192, 255, 0.5);
}

.button-62:not([disabled]):hover {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(96, 239, 71, 0.5), .125rem .125rem 1rem rgba(90, 192, 255, 0.5);
}