:root {
    --back-color: #222831;
    --island-color: #393e46;
    --contrast-color: #d65a31;
    --outline-color: #eeeeee;
    --compliment-color: #29a5ce;
  }

  body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    background-color: var(--back-color);
  }
  
  h1 {
    color: var(--contrast-color);
    margin-left: 20px;
  }
  
  table, th, td {
    border: 1px solid;
    padding: 5px
  }
  
  th {
    background-color: var(--contrast-color);
    color: white
  }
  
  input[type=submit].btn-1 {
    width: 110px;
    height: 40px;
    border: none;
    color: white;
    background-color: var(--contrast-color);
    border-radius: 4px;
    box-shadow: inset 0 0 0 0 var(--contrast-color);
    transition: ease-out 0.5s;
    font-size: 1.7rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    outline: none;
  }
  
  input[type=submit].btn-1:hover {
    box-shadow: inset 300px 0 0 0 var(--compliment-color);
    cursor: pointer;
    color: #000;
  }

  .button {
    background-color: rgb(200, 0, 0);
    color: white;
    border-radius: 5px;
    justify-content: space-around;
    align-items: center;
    scale: 1.5;
    margin: 15px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }

  .btn-1 {
    width: 110px;
    height: 40px;
    border: none;
    color: white;
    background-color: var(--contrast-color);
    border-radius: 4px;
    box-shadow: inset 0 0 0 0 var(--contrast-color);
    transition: ease-out 0.5s;
    font-size: 1.4rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    outline: none;
  }
  
  .btn-1:hover {
    box-shadow: inset 300px 0 0 0 var(--compliment-color);
    cursor: pointer;
    color: #000;
  }