{% extends 'base.html' %}
{% block main %}

<div class="container">
    <div class="box">
    <p />
    Please, choose an option below:
    <p />
    <button type="button" class="btn-1" onclick=simple_action("{{ url_for('users_signup') }}")>Sign Up</button>
    <button type="button" class="btn-1" onclick=simple_action("{{ url_for('users_signin') }}")>Sign In</button>
    </div>
    <script type="text/javascript">
        function simple_action(target) {
            window.location = target
        }
    </script>
</div>
{% endblock %}