<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('.static', filename='style.css')}} ">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.58.3/codemirror.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.58.3/codemirror.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    {% block extra_styles_and_scripts %}{% endblock %}
</head>
<body>
    <div id="head-img"></div>
    {% if request.endpoint not in ['users_signin', 'users_signout','users_signup', 'authentication'] %}
    <div class="dropdown">
        <button class="dropbtn">Menu</button>
        <div class="dropdown-content">
            <a href="{{ url_for('user_profile') }}">Profile</a>
            <a href="{{ url_for('courses') }}">Courses</a>
            <a href="{{ url_for('completed') }}">Completed</a>
            <a href="{{ url_for('users_signout') }}">Sign Out</a>
        </div>
    </div>
    {% endif %}
    {% block main %}
    {% endblock %}
</body>
</html>


