{% extends 'base.html' %}

{% block title %}
Challenge: {{ challenge.challengeid }}
{% endblock %}

{% block extra_styles_and_scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.58.3/codemirror.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.58.3/mode/python/python.min.js"></script>
{% endblock %}

{% block main %}
<h2>{{ challenge.description }}</h2>
<p>Difficulty: {{ challenge.difficulty }}</p>

<textarea id="editor"></textarea>
<button id="submitBtn" class='btn-1'>Submit</button>
<button id="visualizeBtn" class='btn-1'>Visualize</button>
<iframe id="pythontutor" width="100%" height="500px"></iframe>

<script>
    var editor = CodeMirror.fromTextArea(document.getElementById("editor"), {
        lineNumbers: true,
        mode: "python"
    });

    document.getElementById('visualizeBtn').addEventListener('click', function(e) {
        e.preventDefault();
        const code = editor.getValue();
        const encodedCode = encodeURIComponent(code);
        const tutorUrl = `http://pythontutor.com/iframe-embed.html#code=${encodedCode}&cumulative=false&heapPrimitives=nevernest&mode=display&origin=opt-frontend.js&py=3&rawInputLstJSON=%5B%5D&textReferences=false`;
        document.getElementById('pythontutor').src = tutorUrl;
    });

    document.getElementById('submitBtn').addEventListener('click', function(e) {
        e.preventDefault();
        const code = editor.getValue();
        fetch(`/challenge/{{ challenge.challengeid }}`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded',
            },
            body: 'code=' + encodeURIComponent(code)
        })
        .then(response => response.text())
        .then(data => {
            alert(data); // or handle the result in another way
        });
    });
</script>
{% endblock %}
