{% extends 'base.html' %}
{% block main %}

    <table>
        <tr>
            <!-- <th>#</th> -->
            <th>Challenge</th>
            <th>description</th>
            <th>difficulty</th>
        </tr>
        <!-- show the user's courses in the table -->
        {% for challenge in challenges %}
            {% if loop.index % 2 == 0 %}
                <tr class="even_row">
            {% else %}
                <tr class="odd_row">
            {% endif %}
                    <td>{{ challenge.challengeid }}</td>
                    <td>{{ challenge.description }}</td>
                    <td>{{ challenge.difficulty }}</td>
                    <td>     
                        <button type="button" class="btn-1">Start</button>
                    </td>
                </tr>
        {% endfor %}
        
    </table>
    <p />
    <script type="text/javascript">
        function simple_action(target) {
            window.location = target
        }
    </script>
</div>

{% endblock %}