{% extends 'base.html' %}
{% block main %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">

<h1 class="challenge-title"> {{courseid}} Challenges</h1>

<div class="box-products4">
    <table>
        <tr>
            <th>Pin</th> 
            <th>Challenge</th>
            <th>Description</th>
            <th>Difficulty</th>
        </tr>

        <!-- Show the user's courses in the table -->
        {% for challenge in challenges %}
            {% if loop.index % 2 == 0 %}
                <tr class="even_row">
            {% else %}
                <tr class="odd_row">
            {% endif %}
                    <td>
                        <label class="heart-checkbox">
                            <input type="checkbox" class="favorite-challenge" data-challenge-id="{{ challenge.challengeid }}" {% if challenge in current_user.favorites %} checked {% endif %} hidden>
                            <i class="far fa-heart"></i>
                            <i class="fas fa-heart"></i>
                        </label>
                    </td>
                    <td>{{ challenge.challengeid }}</td>
                    <td>{{ challenge.description }}</td>
                    <td>{{ challenge.difficulty }}</td>
                    <td>     
                        <button type="button" class="btn-2" onclick="simple_action('{{ url_for('challenge', challengeid=challenge.challengeid) }}')">Start</button>
                    </td>
                    <td>
                        {% if is_admin %}
                            <form action="{{ url_for('delete_challenge', challenge_id=challenge.challengeid) }}" method="post" style="display: inline;">
                                <button type="submit" class="btn-1">DELETE</button>
                            </form>
                        {% endif %}
                    </td>
                </tr>
        {% endfor %}
    </table>
    {% if is_admin %}
    <form action="{{ url_for('add_challenge') }}" method="post" style="display: inline;">
        <button type="submit" class="btn-1">ADD</button>
    </form>
    {% endif %}
</div>

<script type="text/javascript">
    function simple_action(target) {
        window.location = target;
    }

    document.addEventListener('DOMContentLoaded', function() {
        const checkboxes = document.querySelectorAll('.favorite-challenge');
        checkboxes.forEach(checkbox => {
            checkbox.addEventListener('change', function() {
                const challengeId = this.getAttribute('data-challenge-id');
                const isChecked = this.checked;
                fetch(`/favorite_challenge/${challengeId}`, {
                    method: isChecked ? 'POST' : 'DELETE',
                    headers: {
                        'Content-Type': 'application/json',
                    }
                });
            });
        });
    });
</script>

</div>
{% endblock %}
